.menu {
    font-size: 0;
}

.menu__item {
    display: inline-block;
    position: relative;
}

.menu__item,
.dropdown-menu__item {
    font-size: 1rem;
    background-color: red;
    padding: 2% 3%;
}

.menu__item:hover .dropdown-menu{
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
}