.menu {
    font-size: 0;
}

.menu__item {
    display: inline-block;
    position: relative;
    width: 7%;
    font-size: 1rem 
}

.menu__item,
.dropdown-menu__item {
    font-size: 1rem;
    background-color: red;
    text-align: center;
}

.menu__link,
.dropdown-menu__link {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.menu__item:hover .dropdown-menu{
    display: block;
}

.menu__item:hover {
    background-color: black;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown-menu__item {
    width: 120%;
}